<!DOCTYPE HTML>
<html>
	<head>
		<title>NEFOODLIX</title>
		<link rel="stylesheet" href="../static/assets/css/main.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>NEFOODLIX</h1>
				<nav>
					<ul>
						<li><a href="#diary">이야기 작성하기</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>NEFOODLIX<br/></h2>
						<h3>당신의 이야기를 음식으로.</h3>
					</header>
					<p>고민 없이 결정해보세요. <strong>NEFOODLIX</strong>은 당신이 어떤 식사를 원하는지 알고 있습니다.<br />
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>치킨</h2>
					</header>
					<p>드디어 꿈이 이루어지는 것일까?<br/>
                        오늘은 맨시티의 챔스 결승 경기가 열리는 날이다.<br/>
                        오늘은 출근길도 즐겁다<br/>
                        남자 친구와 같이 새벽에 경기를 보려 한다.<br/>
                        축구를 좋아하지 않는 남자친구는 카톡으로 경기 중에 볼 야식 얘기만 늘어놓는다.<br/>
                        어찌되었든, 축구와 맥주 한 잔이라면 오늘도 버틸 수 있을 것 같다!</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>연어</h2>
					</header>
					<p> 평생의 은인이신 삼촌을 처음 뵈러 다녀왔다.<br/>
                        요새 골다공증 때문에 많이 고생하신다고 한다.<br/>
                        뼈에 좋은 음식들을 보내드리고 싶다.<br/>
                        얼른 예전처럼 건강해지셨으면 좋겠다.</p>
				</div>
				<a href="#diary" class="button style2 down anchored">Next</a>
			</section>


		<!-- Diary -->
			<section id="diary" class="main style3 secondary">
				<div class="content">
					<header>
						<h2>일기를 작성해 보세요.</h2>
						<p>바쁜 일상 속 결정이 어렵다면 Nefoodlix을 추천합니다. 당신이 생각해내지 못한 식사들이 가득합니다.</p>
					</header>
					<div class="box">
						<form method="POST" action="/ajax">
							
							<div class="fields">
								<div class="field"><textarea id="text" name="story" placeholder="망설이지 말고 작성해보세요." rows="6"></textarea></div>
							</div>
							<ul class="actions special">
								
									<a href="#layer2" id="resultButton" class="btn-example">결과 보기</a>
									
									<div class="dim-layer" style="display:none;">
										<div class="dimBg"></div>
										<div id="layer2" class="pop-layer">
											<div class="loader" style="display:none;" ></div>
											<div class="pop-container container">
												
												<div class="pop-conts" >
													
													<p id="resultText" class="ctxt mb20">
													
													</p>
													<p class="card" ">
														
														<img id="resultImage" src="" style="width : 80%; height:auto;"/>
													</p>
													
													<div class="btn-r">
														
														<a href="#" class="btn-layerClose">확인</a>
													</div>
													<p class="loadingText" style="display:none;" >로딩중입니다.</p>
												</div>
											</div>
										</div>
									</div>
									<!--<div class="container" style="display:none;">
										
									<div>-->
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://www.baemin.com/" class="icon brands fa-baemin"><span class="label">배달<br/>민족</span></a></li>
						<li><a href="https://www.yogiyo.co.kr/mobile/#/" class="icon brands fa-yogiyo"><span class="label">요기요<br/>배달</span></a></li>
						<li><a href="https://www.coupangeats.com/" class="icon brands fa-coupang-eats"><span class="label">쿠팡<br/>eats</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>오픈소스 프로그래밍[GLSO 215]</li><li>3조: <a>박근철 박승현 박정식 황태호</a></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.poptrox.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
			<script src="../static/assets/js/popup.js"></script>
			<script>
				$('#resultButton').click(function(){
					
					var content = $('#text').val();
					console.log("clicked")
					document.getElementById("resultText").innerHTML =  "";
					_showLoading();
					document.getElementById("resultImage").src = "";
					console.log(content)
					var postdata = {
						'content':content
					}
					$.ajax({
						type: 'POST',
						url: '/ajax',
						data: JSON.stringify(postdata),
						dataType : 'JSON',
						headers: {"Content-Type": "application/json"},
						contentType: "application/json",
						success: function(data){
							_showPage();
							document.getElementById("resultText").innerHTML =  data.result2;
							console.log(data.linkResult)
							document.getElementById("resultImage").src = data.linkResult;
						},
						error: function(request, status, error){
							alert('ajax 통신 실패')
							alert(error);
						}
					})
				})
			</script>
			<script>
				var _showPage = function() {
					var loader = $("div.loader");
					loader.css("display","none");
					var container = $("container");
					container.css("display","block");
					var loadingText = $("loadingText");
					loadingText.css("display", "none");
				  };
				  var _showLoading = function() {
					var loader = $("div.loader");
					loader.css("display","block");
					var container = $("container");
					container.css("display","none");
					var loadingText = $("loadingText");
					loadingText.css("display", "block");
				  };

			</script>
	</body>
</html>
